In [1]:
import numpy as np

# Create a numpy array of int, characters, float and find their shapes

In [2]:
integers = np.random.randint(1,10,5)
print("Array: \n" , integers)
print("Shape: \n" , integers.shape)

Array:
 [8 6 9 5 3]
Shape:
 (5,)

In [3]:
floats = np.random.random(5)
print("Array: \n" , floats)
print("Shape: \n" , floats.shape)

Array:
 [0.44694176 0.65646103 0.87815417 0.17770928 0.96096937]
Shape:
 (5,)

In [4]:
x = np.random.randint(65 , 91 , 10)

char_arr = [0]*10
count=0
for i in x:
    
    char_arr[count] = chr(i)
    count+=1


char_arr = np.array(char_arr)
print(char_arr)

['F' 'R' 'Z' 'I' 'B' 'D' 'Q' 'G' 'K' 'N']

# Create a zeros, empty, identity , eye and a full array

In [5]:
zers_array = np.zeros(10)
zers_array

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [6]:
identity = np.identity(10)
identity

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [7]:
eye_matrix = np.eye(4,3)
eye_matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.]])

In [8]:
empty = np.empty(10)
empty

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [9]:
full = np.full(8,1)
full

array([1, 1, 1, 1, 1, 1, 1, 1])

# Declare an array having the datatype of object, is it possible?

In [10]:
object_type = np.array([1,0.5,3,'a','ans'] , dtype=object)
object_type

array([1, 0.5, 3, 'a', 'ans'], dtype=object)

# Create an array having 5 equally spaced numbers ranging from 5 to 15

In [11]:
ran = np.linspace(5,15,5)
ran

array([ 5. ,  7.5, 10. , 12.5, 15. ])

# Create a numpy array ranging from 1 to 100.

In [12]:
aran = np.arange(1,101)
aran

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

# Reshape the above array into (100,15). Is it possible?

In [13]:
# not posssible

# Reshape the array into (10,10).

In [14]:
resh = aran.reshape(10, 10)
resh

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

# Flatten and ravel the reshaped array. What is the difference?

In [15]:
flat = resh.flatten()
flat

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [16]:
rav = resh.ravel()
rav

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [17]:
#flatten deep copy and faster than ravel
#ravel shallow copy and slower than flatten

# Take an array [[1 2 3] [4 5 6] [ 7 8 9]]. Sum it along 0 and 1 axis

In [18]:
arr = np.array([[1,2,3] , [4,5,6] , [7,8,9]])

row_sum = np.sum(arr , axis=1)
col_sum = np.sum(arr , axis=0)
print("Row vice sum: " , row_sum)
print("Column vice sum: " , col_sum)

Row vice sum:  [ 6 15 24]
Column vice sum:  [12 15 18]

# Find the number of bytes used by your array

In [19]:
siz = arr.nbytes
siz

36

# Find the maximum and minimum values in a 1D array.

In [20]:
D1_array = np.array([1,2,3,4,5,99,34])
max_index = np.argmax(D1_array)
min_index = np.argmin(D1_array)

print("Max Value: " , D1_array[max_index])
print("Min Value: " , D1_array[min_index])

Max Value:  99
Min Value:  1

# Find the maximum and minimum values in 2D array

In [21]:
arr = np.array([[1,2,3] , [4,5,6] , [7,8,9]])

column_max = np.amax(arr , axis=0)
column_min = np.min(arr , axis=0)
row_max = np.amax(arr , axis=1)
row_min = np.min(arr , axis=1)

print("Array: \n" , arr)
print("Column min: " , column_min)
print("Column max: " , column_max)
print("Row min: " , row_min)
print("Row max: " , row_max)

Array:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
Column min:  [1 2 3]
Column max:  [7 8 9]
Row min:  [1 4 7]
Row max:  [3 6 9]

# Sort an array

In [22]:
D1_array = np.array([1,2,3,4,5,99,34])
sort_array= np.sort(D1_array)
sort_array

array([ 1,  2,  3,  4,  5, 34, 99])

# Is * and mul the same as dot product for numpy arrays and matrices? Check.

In [23]:
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])

dot = np.dot(arr1 , arr2)
mul = arr1 * arr2

print("Dot Product: " , dot)
print("*: " , mul)

Dot Product:  32
*:  [ 4 10 18]

In [24]:
# both are not same

# Take the square root and norm of an array.

In [25]:
a = [1,4,9,16]
sqrt = np.sqrt(a)
norm = np.linalg.norm(a)

print("Square Root: " , sqrt)
print("Normalize: " , norm)

Square Root:  [1. 2. 3. 4.]
Normalize:  18.81488772222678

# Find the std, non-zero, zero values and mean of an array.

In [26]:
std = np.std(a)
mean= np.mean(a)

a = np.array([1,3,6,0,7])
zeros = a[a==0]
non_zeros = a[a!=0]
print("std: " , std)
print("mean: ", mean)
print("Non zeros: ", non_zeros)
print("Zeros: " , zeros)

std:  5.678908345800274
mean:  7.5
Non zeros:  [1 3 6 7]
Zeros:  [0]

# Convert some angles to radians and vice versa.

In [27]:
angles = np.random.uniform(0,360,10)

print("Array: " , angles)
rad   = np.radians(angles)
print("Radians: " , rad)
angle = np.degrees(rad)
print("Angles: " , angle )

Array:  [ 33.94058575 207.69217706 356.75340517 295.7490672   21.23529578
  18.5741619   10.53876454 313.16418143 242.06842582  16.41031073]
Radians:  [0.59237497 3.62491232 6.22652154 5.16179498 0.37062583 0.32418028
 0.18393614 5.46574607 4.22489105 0.28641395]
Angles:  [ 33.94058575 207.69217706 356.75340517 295.7490672   21.23529578
  18.5741619   10.53876454 313.16418143 242.06842582  16.41031073]

# Save and load some of your arrays

In [28]:
arr = np.array([1,2,3,4])
np.save('array' , arr)

In [29]:
np.load('array.npy')

array([1, 2, 3, 4])

# Calculate the mean, std, var, max, min, of an array with shape (3,3,12,3) containing floats drawn
from a normal distribution with mean 21 and sigma 4.5. see the np.random.normal.

In [30]:
arr = np.random.normal(21,4.5,[3,3,12,3])
arr

array([[[[21.41625936, 18.19286464, 26.91245995],
         [14.29162696, 24.79475312, 26.70005426],
         [20.74508275, 20.13547318, 26.37190813],
         [19.96512586, 21.07304475, 26.21469321],
         [14.48025904, 18.98503123, 17.47658834],
         [22.03326185, 25.97368375, 21.67316456],
         [23.35030439, 23.38278282, 25.21108147],
         [17.01712873, 20.71658641, 28.01444037],
         [15.42395628, 16.28699656, 12.12745139],
         [24.67825413, 18.5215206 , 19.69133187],
         [16.81698647, 19.16478376, 25.1350121 ],
         [23.82387648, 31.41777874, 18.77973846]],

        [[30.07106888, 22.37529905, 19.20386374],
         [17.68341467, 17.42830824, 19.30452429],
         [20.34395358, 24.22197996, 19.21427568],
         [17.6294411 , 18.35921455, 24.74517162],
         [20.21032011, 21.30132638, 26.55927952],
         [17.73817712, 20.26160547, 25.02543894],
         [19.98362609, 22.93645772, 28.2083849 ],
         [12.11443072, 21.54012501, 25.54797644],
         [22.87908294, 19.58808867, 23.41718025],
         [13.98783653, 23.26178069, 22.82430152],
         [16.54507061, 23.91541922, 12.20152983],
         [21.83727827, 20.02055542, 20.31068308]],

        [[24.8095674 , 20.12564398, 23.58516957],
         [24.37665663, 27.02123974, 18.16240482],
         [18.92421366, 17.43930054, 27.94653804],
         [15.7031959 , 16.1489861 , 18.94928824],
         [19.39797509, 23.04687307, 21.41804802],
         [15.01391966, 15.81263127, 26.15346391],
         [18.98858138, 24.41031867, 24.86126332],
         [13.90949023, 17.83027261, 22.85592729],
         [23.91567603, 30.17915898, 27.24336587],
         [23.1832066 , 21.79254211, 20.64842719],
         [25.41270518, 22.5810831 , 26.87659409],
         [27.61833263, 16.96991914, 16.18158309]]],


       [[[14.98429991, 20.39133677, 25.95905112],
         [26.80086493, 20.89414576, 18.20529602],
         [26.10221186, 30.78691305, 14.29499229],
         [19.86024125, 21.0990146 , 24.27981157],
         [23.76961169, 16.66257986, 19.35052812],
         [24.38095537, 15.73465842, 17.09396287],
         [24.97555952, 26.37250571, 17.91486684],
         [24.73733105, 18.36300174, 21.53894085],
         [29.66861426, 28.92886464, 14.88455714],
         [18.48749641, 17.65944684, 25.97250797],
         [17.72932316, 25.70239155, 18.04818808],
         [21.20009703, 22.40107303, 19.85669374]],

        [[18.42524163, 22.63436813, 18.25668217],
         [22.95957731, 16.47682464, 15.11967278],
         [25.95536061, 25.33117608, 29.86201419],
         [18.04390337, 19.52184844, 23.39013412],
         [22.36332686, 13.77402079, 20.37203372],
         [21.90759247, 17.45550972, 31.58754399],
         [23.90540835, 18.691011  , 15.8863116 ],
         [25.99520068, 19.17896679, 23.6831204 ],
         [20.53917894, 28.31752758, 26.28750673],
         [13.77021754, 19.99233029, 19.30690877],
         [24.05295479, 14.41597405, 28.16346151],
         [26.77419451, 18.11534613, 28.91941569]],

        [[18.88450474, 22.4778399 , 24.06655264],
         [23.76771893, 22.04694062, 16.00294263],
         [20.78684004, 23.6413916 , 22.58240947],
         [21.48979863, 19.26826503, 18.27045073],
         [20.34267879, 15.19732857, 23.70742665],
         [21.21928003, 15.95575033, 20.65009869],
         [16.96266322, 26.42202734, 18.23989054],
         [25.57648311, 25.21281758, 17.17644545],
         [26.88052219, 13.49276895, 21.64552404],
         [14.53905447, 13.73496805, 21.70360349],
         [26.67837566, 17.44870932, 19.52311461],
         [20.78643756, 25.9592122 , 20.55906137]]],


       [[[28.5025482 , 27.74240526, 21.7923993 ],
         [25.25349207, 21.98436118, 22.47097349],
         [12.38967241, 18.9886776 , 19.06255121],
         [18.88544995, 24.83190634, 21.59213103],
         [23.31343878, 16.99807461, 26.70560164],
         [18.18418741, 24.5352303 , 23.44817222],
         [29.90301646, 22.75615157, 22.26673129],
         [21.93575349, 17.40586128, 19.70418105],
         [23.49946779, 18.80780821, 27.7183943 ],
         [23.510382  , 19.57680773, 21.72724542],
         [26.84378616, 30.0936036 , 33.15644561],
         [23.22178799, 27.37530199, 22.48493381]],

        [[22.83988183, 29.48504386, 17.55334708],
         [21.89397695, 21.50675388, 15.2056078 ],
         [27.52136562, 18.11503815, 16.16406894],
         [15.26883296, 17.92282905, 17.94049651],
         [24.72084527, 25.05226187, 25.10225325],
         [23.09215274, 20.3530601 , 26.27431895],
         [21.91819377, 25.76552055, 24.06557529],
         [20.56863518, 27.11208647, 15.90307419],
         [20.46448647, 22.36106786, 31.07574353],
         [19.34614056, 23.56288651, 21.16167216],
         [19.76133624, 28.93647797, 24.60359857],
         [22.44902365, 24.9977612 , 22.02322236]],

        [[21.72728428, 25.25366493, 22.09812057],
         [19.26844548, 18.87167833, 21.2133772 ],
         [32.37052264, 24.93174702, 22.04157823],
         [25.43759476, 21.37383076, 14.05523836],
         [14.58048238, 17.51768004, 22.71454733],
         [23.96566068, 25.08936261, 11.81841952],
         [19.1582413 , 23.14532397, 22.92583181],
         [19.74464026, 28.69269218, 22.26486464],
         [21.30846935, 21.9167053 , 21.88992045],
         [26.83183461, 19.1521347 , 27.42069599],
         [26.91038676, 17.97193269, 20.03145959],
         [26.09246132, 16.99442205, 24.95442018]]]])

In [31]:
print("Mean: " , np.mean(arr))
print("Std: " , np.std(arr))
print("Var: " , np.var(arr))
print("Min: " , np.min(arr))
print("Max: " , np.max(arr))

Mean:  21.66420469362135
Std:  4.2536359180471335
Var:  18.09341852330068
Min:  11.818419516367435
Max:  33.15644560779286